.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#foto{
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 2px solid whitesmoke;
  box-shadow: 0px 0px 5px whitesmoke;
}

#container-sobre{
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: start;
  flex-direction: row;
  height: 70%;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin-top: 3rem;
}

.icone{
  width: 6rem;
  height: 6rem;
  filter: saturate(75%) drop-shadow(0px 0px 3px whitesmoke);
}

.icon{
  width: 3rem;
  height: 3rem;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50%;
  filter: saturate(65%) drop-shadow(0px 0px 5px whitesmoke);
  margin-right: 1rem;
}

.logos{
  width: 6rem;
  height: 6rem;
  filter: saturate(75%);
}

.flex-contato{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 30%;
  row-gap: 1rem;
  font-size: 1.8rem;
  margin-left: 15rem;
}

.flex-sobre{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 40%;
  row-gap: 2rem;
  font-size: 1.8rem;
}

.flex-contato div {
  min-width: 100%;
}

h4{
  color: whitesmoke;
  text-shadow: 1px 1px 5px whitesmoke;
  font-weight: 500;
  margin-left: 10rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.link{
  color: whitesmoke;
  text-shadow: 1px 1px 5px black;
}

.link:hover{
  text-decoration: underline;
  color: beige;
}

.info-texto{
  display: flex;
  justify-content: start;
  column-gap: 1rem;
}

#container-competencias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  width: 80%;
  height: 60%;
  margin-top: 1rem;
}

.competencias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  padding: 1rem;
  padding-top: 1.8rem;
  box-shadow: 0px 0px 2px whitesmoke;
}

#titulo-habilidades{
  margin-top: 2rem;
  font-family: Gotham;
  font-size: 2rem;
  text-shadow: 1px 1px 2px whitesmoke;
}

.prints{
  height: 23rem;
  border-radius: 10px;
  box-shadow: -1px 1px 3px whitesmoke;
}

.texto-projeto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
}

h3{
  font-size: 2rem;
}

.titulo-projeto{
  font-size: 2rem;
  text-shadow: 1px 1px 2px violet;
}

#container-projetos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 8rem;
  row-gap: 5rem;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 2rem;
}

h5{
  font-size: 1.2rem;
}

.linguagens{
  height: 3rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  filter: saturate(75%);
}